{% extends 'adminDashboard.html' %}

{% block content %}

            <div class="container-fluid">
          <div class="row">
                    <div class="col-12">
                     
                        <div class="card">
                            <div class="card-body">
                            	<table class="table table-hover">
  <thead>
    <tr style="font-weight:bold; background-color: #181818;">
      <td scope="col" colspan=6 style="color:white; margin-left: 15px;">Reports</td>
      
    </tr>
  </thead>
  
  <tbody>
 
    <tr>
      <td scope="row" ><a href="" class="btn btn-primary">User Wise Reports</a></td>
    
      <td scope="row"><a href="" class="btn btn-primary" >Pg Owner Wise Reports</a></td>
    
      <td scope="row" ><a href="" class="btn btn-primary" >Pg Wise Reports</a></td>
    
      <td scope="row" ><a href="" class="btn btn-primary">Area Wise Reprts</a></td>
   
      <td scope="row" > <a href="" class="btn btn-primary">Booking Wise Reports</a></td>

      <td scope="row"><a href="" class="btn btn-primary" >Status Wise Reports</a></td>
     
    </tr>
    
  </tbody>
  
</table>  
                
</div>
</div>
</div>
      
               </div>
                     
                </div>
            
            
{% endblock %}