<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Dashboard</title>
    <!-- Custom CSS -->
   <!--  <link href="../assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="../assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="../assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" /> -->
    <!-- Custom CSS -->
    <link href="{{ url_for('.static',filename='dash/dist/css/style.css') }}" rel="stylesheet">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="#">
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img src="{{ url_for('.static',filename='dash/assets/images/logo.png') }}" alt="homepage" class="dark-logo"/>
                                <!-- Light Logo icon -->
                                <img src="{{ url_for('.static',filename='dash/assets/images/logo.png') }}" alt="homepage" class="light-logo" />
                            </b>
                            <!--End Logo icon -->
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="{{ url_for('.static',filename='dash/assets/images/users/profile-pic.jpg') }}" alt="user" class="rounded-circle"
                                    width="40">
                                <span class="ml-2 d-none d-lg-inline-block text-dark"><span>Hello,</span> <span
                                        class="text-dark">{{ session['name'] }}</span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">

                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="settings"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a accesskey="q" class="dropdown-item" href="{{ url_for('auth.logout') }}"><i data-feather="power"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Logout</a>

                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% if session['role']== "Admin" %}

        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ url_for('admin.admindashboard') }}"
                                aria-expanded="false"><i data-feather="home" class="feather-icon"></i>
                                <span class="hide-menu"> {{ session['role'] }} Dashboard</span></a></li>
                       
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">details</span></li>
                        
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ url_for('admin.owner') }}"
                                aria-expanded="false"><i class="fa fa-user-circle"></i><span
                                    class="hide-menu">Pg Owners</span></a></li>

                         <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ url_for('admin.user') }}"
                                aria-expanded="false"><i class="fa fa-users"></i><span
                                    class="hide-menu">Users</span></a></li>

                         <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ url_for('admin.pg') }}"
                                aria-expanded="false"><i class="fa fa-home"></i><span
                                    class="hide-menu">Pg details</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ url_for('admin.report') }}"
                                aria-expanded="false"><i class=" fa fa-file"></i><span
                                    class="hide-menu">Generate Reports</span></a></li>

                      
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

        {% endif %}

        {% if session['role']== "Owner" %}

           <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                         
                         <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ url_for('pgo.ownerdashboard') }}"
                                aria-expanded="false"><i data-feather="home" class="feather-icon"></i>
                                <span class="hide-menu"> {{ session['role'] }} Dashboard</span></a></li>
                          
                       
                        <li class="list-divider" style="background-color:white;"></li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{url_for('auth.updateProfile')}}"
                                aria-expanded="false"><i data-feather="edit-3" class="feather-icon"></i></i><span
                                    class="hide-menu">Update Profile</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ url_for('pgo.viewpg') }}"
                                aria-expanded="false"><i class="far fa-eye"></i><span
                                    class="hide-menu">View All PG</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{url_for('pgo.addpg')}}"
                                aria-expanded="false"><i data-feather="edit-3" class="feather-icon"></i></i><span
                                    class="hide-menu">Add New PG</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{url_for('pgo.confirmbooking')}}"
                                aria-expanded="false"><i class="fas fa-rupee-sign"></i><span
                                    class="hide-menu">Bookings</span></a></li>

                        
                      
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

        {% endif %}


        {% if session['role']== "User" %}

           <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">


                        

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ url_for('user.pg_ads') }}"

                                aria-expanded="false"><i class="fas fa-search"></i><span
                                    class="hide-menu">Search PG</span></a></li>
                                    <li class="list-divider"></li>


                           <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{url_for('auth.updateProfile')}}"
                                aria-expanded="false"><i data-feather="edit-3" class="fas fa-rupee-sign"></i></i><span
                                    class="hide-menu">Update Profile</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{url_for('user.favourites')}}"
                                aria-expanded="false"><i class="fas fa-heart"></i>
                            <span class="hide-menu"> My Favourites</span></a></li>


                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{url_for('user.userbookinginfo')}}"
                                aria-expanded="false"><i class="fas fa-bed"></i><span
                                    class="hide-menu">Booking  status</span></a></li> 

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{url_for('user.payment')}}"
                                aria-expanded="false"><i class="fas fa-rupee-sign"></i><span
                                    class="hide-menu">Payment status</span></a></li>


                      
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

        {% endif %}

        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            {% block content %}
            {% endblock %}
        </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                &nbsp;
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="{{ url_for('.static',filename='dash/dist/js/app-style-switcher.js') }}"></script>
 
    <script src="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/js/min/perfect-scrollbar.jquery.min.js" integrity="sha512-ebNY0qErbAT1m/mtiUXFcDVRcG30XEKR/Qf6fiMY6U7MRFX65rzscgev7iaKIJJGbzLpRhZjq/CfglRckLHN7Q==" crossorigin="anonymous"></script>
    
    <script src="{{ url_for('.static',filename='dash/dist/js/sidebarmenu.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ url_for('.static',filename='dash/dist/js/custom.min.js') }}"></script>
    <!--This page JavaScript -->
    
    <!-- <script src="../dist/js/pages/dashboards/dashboard1.min.js"></script> -->

<script> 
    function printDiv() 
    { 
        var divContents = document.getElementById("printdivision").innerHTML; 
        var reportname = document.getElementById("pdf").name;
        var a = window.open('', '', 'height=1080, width=1080'); 
        a.document.write('<html>'); 
        a.document.write('<body >');
        a.document.write('<h2> <center>');a.document.write(reportname);a.document.write('</center></h2><br>');
        a.document.write(divContents); 
        a.document.write('</body></html>'); 
        a.document.close(); 
        a.print(); 
    } 

    function fnExcelReport()
    {
        var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j=0;
        tab = document.getElementById('table'); // id of table

        for(j = 0 ; j < tab.rows.length ; j++) 
        {     
            tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
        }

        tab_text=tab_text+"</table>";
        tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE "); 

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html","replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus(); 
            sa=txtArea1.document.execCommand("SaveAs",true,"Thanks");
        }  
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

        return (sa);
    }
</script>

</body>

</html>