<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='auth/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='auth/css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		
		<div class="container-login100">
			
			<div class="wrap-login100">
				
				<form class="login100-form validate-form" method="POST" action="{{ url_for('auth.loginscr') }}">
					<button class="close" onclick="location.href = '{{ url_for('auth.mainpage') }}';">&times;</button>
					<span class="login100-form-title p-b-43">
						
						Login to continue
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>
				
					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div>
							<a href="#" data-target="#pwdModal" data-toggle="modal">
								Forgot Password ?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>
					
					
				</form>


				
				<div class="login100-more" style="background-image: url('{{ url_for('static',filename='auth/images/bg-01.jpg') }}');">
				</div>
			</div>
		</div>
	</div>
	

	<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">										
				<h5>Password Recovery</h5>
			</div>
			<div class="modal-body">
				<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="text-center">
									<div class="panel-body">
										<fieldset>
										<form action="{{ url_for('auth.forgotpassword') }}" method="POST">
											<div class="form-group">
												
											<input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email" required>
											<br>
											
											<input class="login100-form-btn" value="Send Password" type="submit">
										</form>
										</div>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<div class="col-md-5">
				<button class="login100-form-btn" data-dismiss="modal" aria-hidden="true" style="float: right;">Cancel</button>
				</div>	
			</div>
		</div>
		</div>
	</div> 
	

	
	
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='auth/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='auth/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='auth/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static',filename='auth/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='auth/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='auth/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static',filename='auth/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='auth/vendor/countdowntime/countdowntime.js' )}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='auth/js/main.js') }}"></script>

</body>
</html>