{% extends 'adminDashboard.html' %}
{% block content %}

<div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">My Favourites</h4><br/>

                                <div class="card shadow">
                                  <div class="card-header" style="background-color: grey; color:white;"><h3>Royal Paying Guest</h3></div>
                                  <div class="card-body">

                                      <div class="row">
                                          <div class="col">
                                              <span class="badge badge-primary d-block" style="font-size: 18px;"> Boys <i class="fas fa-user"></i> </span>
                                          </div>
                                          <div class="col">
                                              <span class="badge badge-success d-block" style="font-size: 18px;">Navrangpura<i class="fas fa-map-marker-alt"></i></span>
                                          </div>
                                          <div class="col">
                                              <span class="badge badge-secondary d-block" style="font-size: 18px;" >Starting &#8377;8000/bed</span>
                                          </div>
                                          <div class="col">
                                              <span class="badge badge-primary d-block" style="font-size: 18px;">Total Rooms: 4 </span>
                                          </div>
                                      </div>

                                  </div>
                                  <div class="card-footer text-right" >
                                      <a href="#"><button type="button" class="btn btn-danger">Delete</button></a> &nbsp;
                                      <button type="button" class="btn btn-primary">View PG</button>
                                  </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
</div>

{% endblock %}